/* Estilos para formulários login e registro */

#pesquisa{
    border: solid 1px #272727;
    border-radius: 24px !important;
    width: 80%;
}

#confirma-pesquisa:hover{
    color: #24A4F2 !important;
}

#alerta-erros:empty{
    display: none;
}

#alerta-erros{
    background-color: #f5918a;
    border-radius: 5px;
}

input[type="date"]{
    color: #656668;
}

.sucesso{
    color: #cafae4;
}

.erro{
    color: #f06359;
}

a{
    text-decoration: none !important;
}

.form-group{
    margin-bottom: 25px;
}
