/* Estilos HTML Tags Globais */
html{
    scroll-behavior: smooth;
}

body{
    overflow: hidden;
}

/* Estilos Barra de Ferramentas */
#ferramentas{
    background-color: #FFFFFF; 
    border: solid 1px #e3e7e9;
    height: 100vh;
    padding: 15px;
} 

#nav-ferramentas ul{
    list-style-type: none;
    padding-left: 0;
}

#nav-ferramentas li{
    display: flex;
    justify-content: left;
}

.img-avatar a{
    display: flex;
    align-items: center !important;
}

.nome-usuario{
    margin-left: 7px;
}

#nav-ferramentas a{
    display: flex;
    align-items: baseline;
    text-decoration: none;
    color: #212529;
}

.avatar{
    width: 35px; 
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: baseline;
}

    /* Estilos específicos para telas >MD */
    @media (max-width: 991.98px){
        #nav-ferramentas li{
            margin-top: 35px;
            margin-bottom: 35px;
        }

        #nav-ferramentas li{
            display: flex;
            justify-content: center;
        }

        #logo{
            margin-bottom: 15px;
        }
    }

/* Estilos botões */
.btn-primary{
    border-radius: 24px !important;
    background-color: #272C30 !important;
    color: #FFFFFF !important;
    border: solid 2px #272C30 !important;
}

.btn-primary:hover{
    border-radius: 24px !important;
    background-color: #FFFFFF !important;
    color: #272727 !important;
    border: solid 2px #272C30 !important;
}

/* Estilos Feed */
#feed{
    background-color: #FFFFFF;
    border: solid 1px #e3e7e9;
    overflow-y: auto;  
    height: 100vh;
    padding: 15px;
}

/* Estilos Pesquisa */
#explorar{
    background-color: #FFFFFF;
    border: solid 1px #e3e7e9;
    height: 100vh; 
    padding: 15px;
}

/* Fontes */
.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  } 

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

/* Proporções Fontes */
h1{
    font-size: 1.802rem !important;
}

#feed h1{
    font-size: 1.150rem !important;
}

#explorar h1{
    font-size: 1.150rem !important;
}

h2{
    font-size: 1.150rem !important;
}

h3{
    font-size: 1.402rem !important;
}

p{
    font-size: 1rem !important;
}

small{
    font-size: 0.889rem !important;
}

span{
    font-size: 1rem;
}